# Crawling

# Task 1
- Create crawler/Scraper using Python [Preferable using Scrapy] to scrape data
from https://www.forbes.com/lists/global2000/?sh=45f017755ac0 and save data
in JSON format, attribute-wise.
- Get the list of all 2000 companies.
- Final Json document should contain
  -  Rank
  -  Name
  - Country
  -  Sales
  -  Profit
  -  Assets
  -  Market Value
  -  Link to individual company profile

In [50]:
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import csv
import pandas as pd
from selenium import webdriver

In [51]:
url = "http://www.forbes.com/lists/global2000/?sh=45f017755ac0"
data = dict()
def fetch_all(keyval):
  page = requests.get(url)
  soup = BeautifulSoup(page.content, 'html.parser')
  value = soup.find_all('div', class_=keyval)
  data[keyval] = [i.text for i in value]

In [52]:
for i in ['rank','organizationName','country','revenue','profits','assets','marketValue']:
  fetch_all(i)

In [53]:
df =pd.DataFrame.from_dict(data, orient='index')

In [54]:
df2 = df.T

In [55]:
df2

,rank,organizationName,country,revenue,profits,assets,marketValue
0,1.,Berkshire Hathaway,United States,$276.09 B,$89.8 B,$958.78 B,$741.48 B
1,2.,ICBC,China,$208.13 B,$54.03 B,"$5,518.51 B",$214.43 B
2,3.,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$400.38 B,$105.36 B,$576.04 B,"$2,292.08 B"
3,4.,JPMorgan Chase,United States,$124.54 B,$42.12 B,"$3,954.69 B",$374.45 B
4,5.,China Construction Bank,China,$202.07 B,$46.89 B,"$4,746.95 B",$181.32 B
...,...,...,...,...,...,...,...
1995,1995.,Shenzhen Feima International Supply Chain,China,$37 M,$1.41 B,$166 M,$1.14 B
1996,1997.,NMDC,India,$3.52 B,$1.41 B,$5.71 B,$6.4 B
1997,1997.,Sichuan Changhong Electric,China,$15.72 B,$53.1 M,$12.11 B,$1.96 B
1998,1999.,Satellite Chemical,China,$4.41 B,$931.3 M,$7.64 B,$9.52 B
1999,2000.,Sun Communities,United States,$2.27 B,$375.7 M,$13.49 B,$21.71 B

In [56]:
df2.to_json('tempm.json', orient='records', lines=True)

# Task 2
  - Crawl Top 20 company profiles using the above extracted links based on ranking.
  - Store in a json file with proper formatting.

In [58]:
df3=df2.sort_values("rank").head(20)

In [59]:
df3.to_json('tempt2.json', orient='records', lines=True)